<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Mi aplicación ASP.NET</title>
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="container">
			<div class="header">
				<a href="@Url.Action("Index", "Home")" class="navbar-brand">Material<span id="lab">Lab</span></a>
			</div>
			<div class="navbar-collapse navbar-right collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Angel de la Torre", "About", "Home")</li>
					<li>@Html.ActionLink("Cerrar sesión", "Logoff", "Cerrar")</li>
				</ul>
			</div>

		</div>
	</div>
	
	<nav class="sidenav" id="sidenav">
        <ul class="list-unstyled components">
            <li>
                <a href="@Url.Action("Index", "Home")" class="navitem"><img src="~/Content/img/home.png" alt="Inicio" /><br />Inicio</a>
            </li>
            <li>
				<a href="@Url.Action("Index", "Laboratorista")" class="navitem"><img src="~/Content/img/empl.png" alt="Laboratosrista" /><br />Empleado</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Laboratorio")" class="navitem"><img src="~/Content/img/labor.png" alt="Laboratorio" /><br />Labs</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Material")"><img src="~/Content/img/material.png" alt="Material" /><br />Material</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Alumno")"><img src="~/Content/img/alumno.png" alt="Alumnos" /><br />Alumnos</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Carrera")" class="navitem"><img src="~/Content/img/alumno.png" alt="Alumnos" /><br />Carreras</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Grupo")"><img src="~/Content/img/alumno.png" alt="Alumnos" /><br />Grupo</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Compensacion")"><img src="~/Content/img/pagar.png" alt="Compensacion" /><br />Pagos</a>
            </li>

            <li>
            </li>
        </ul>
	</nav>

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Materialab ASP.NET</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>

<script type="text/javascript">
	$(document).ready(function(){
		var height = $(window).height();
		$('#sidenav').height(height);
	});

	$(".ver").click(function (){
		if ($(this).attr('id') == "btnMateriales") {
			$("#existencia").removeClass("hidden");
			$("#retrasos").addClass("hidden"); 
			$("#reportes").addClass("hidden");
			$("#bajas").addClass("hidden"); 
		}
		if ($(this).attr('id') == "btnRetrasos") {
			$("#existencia").addClass("hidden");
			$("#retrasos").removeClass("hidden");
			$("#reportes").addClass("hidden");
			$("#bajas").addClass("hidden"); 
		}
		if ($(this).attr('id') == "btnReportes") {
			$("#existencia").addClass("hidden");
			$("#retrasos").addClass("hidden");
			$("#reportes").removeClass("hidden");
			$("#bajas").addClass("hidden"); 
		}
		if ($(this).attr('id') == "btnBaja") {
			$("#existencia").addClass("hidden");
			$("#retrasos").addClass("hidden");
			$("#reportes").addClass("hidden"); 
			$("#bajas").removeClass("hidden"); 
		}
	});
</script>

</html>
